<!DOCTYPE html>
<html lang="en">
{% include "partials/blog_head.html" %}
  <body>
    <section class="main">
      <h1 class="main__headline">{{ title }}</h1>
      <h4 class="main__author">
        {% if date != "" %}
        by <a href="{{ author_link }}">{{ author }}</a> | {{ human_friendly_date }}
        {% else %}
          by <a href="{{ author_link }}">{{ author }}</a>
        {% endif %}
      </h4>
      <section class="main__flowtext">
        {{ html | safe }}
      </section>
    </section>
  </body>
</html>
